

  <div class="col-md-2 text-center">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">カテゴリー検索</th>
        </tr>
      </thead>

        <tbody>
          <% categorys.each do |category| %>
            <tr>
              <td>
                <%= link_to posts_category_path(category.id), class: "link" do %>
                  <%= category.category_name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <% if user_signed_in? %>
      <div class="left-link">
        <%= link_to "投稿する", new_post_path, class: "btn col-md-12" %>
      </div>
      <div class="left-link">
        <%= link_to "閲覧履歴", browsing_histories_path(current_user.id), class: "btn col-md-12" %>
      </div>
    <% end %>
  </div>
