
  <div class="container">
    <div class="row">

      <%= render 'homes/list' %>

      <div class="col-md-10 text-left list">
        <h2>新着一覧</h2>

        <%= render 'posts/post', posts: @posts %>

        <%= paginate @posts %>

      </div>
    </div>
  </div>
