
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 text-center">

        <h2>利用規約</h2>
        <p>制作中です。</p>

      </div>
    </div>
  </div>
