
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 text-center">

        <%= current_user.user_name %>様<br>
        <p>ご報告ありがとうございました。</p>
        
      </div>
    </div>
  </div>
