
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search, "", class: 'input-mysize', placeholder: '調べたい口コミ' %>

  <button type="submit" class="button1">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>
<% end %>
